<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  
     
  <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

     
     <script>
        $(document).ready(function(){
          $('select').formSelect();
        });
     </script>  
    
</head>
<body>
    <div  class="navbar-fixed">
      <nav>
        <div class="nav-wrapper orange">
          <a href="#!" class="brand-logo"><i class="material-icons">local_drink</i>SMOOTHIVERSE</a>
          
          <ul class="right">
            <li><a href="/smoothies/new" <%- title === 'Add Smoothie' ? 'class="active"' : '' %>>ADD SMOOTHIE</a></li>
              <li><a href="/smoothies" <%- title === 'All Smoothies' ? 'class="active"' : '' %>>ALL SMOOTHIES</a></li>
            <li>
              
              <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
             
            </li>
          </ul>
          

        </div>
      </nav>
    </div>
  
  <!-- <main>
    <h1><%= title %></h1> -->